<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.samplemodule.mapper.SampleMapper">
    <select id="findById" resultType="com.samplemodule.dto.SampleDto" parameterType="integer">
        select
            id
             , username
             , email
        from
            SAMPLE
        where
            id = #{id}
    </select>
</mapper>